.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .header {
  width: 100%;
  margin: 0;
}

.nav h1 {
  font-size: 24px;
  margin: 0;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}
